* {
  font-family: 'Epilogue', sans-serif;
  /* background-color: rgb(55, 66, 63); */
  color: white;
  text-align: center
}

body {
  background-color:#23395d;
  /* background-attachment: fixed; */
}


/* .follower {
  /* display:flex;
  flex-direction: row;
  align-items: center; */

.follower  {

  width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;


}
img {
  margin: 0 auto;
  box-shadow: 3px 5px 5px black;
  border-radius: 5px;
}

.maincard{
/* margin-left: 35%;
margin-right: 35%; */

margin: 0 auto;
width: 25%;
box-shadow: 3px 5px 5px black;
}

.maincard  img {
  margin: 0 auto;
  width: 25%;
  box-shadow: 3px 5px 5px black;
  border-radius: 50%;
}
